# Pour ignorer tous les dossiers node_modules du projet front et back (arborescence projet)
# ├── backend
# │   ├── index.html
# │   └── node_modules
# ├── frontend
# │   ├── index.html
# │   └── node_modules
# └── .gitignore

**/node_modules

# variable d'environnement pour connexion mongoDB sécurisée
.env

# mémo perso
memo.txt